/* ============= GLOBAL SETTINGS ================= */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,body {
	background-color: #fff;
	color: #555;
    font-weight: 300;
    font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px;
    overflow-x: hidden;
    -webkit-text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

section {
    padding: 60px 0px;
}


/*============= Typography ================= */
h1 {
    font-size: 300%;
    padding-top: 130px;
    color: #FFE600;
}

 h2 {
    margin-bottom: 40px;
    font-size: 150%;
    letter-spacing: 1px;
    text-align: center;
    color: #555;
    font-weight: 300;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #FA4659;
    content: " ";
    width: 100px;
    margin: 30px auto 30px auto;
}


h3 {
    font-size: 125%;
    letter-spacing: 1px;
    margin-top: 0px;
    font-weight: 300;
}

h2, h3, h4 {
    text-transform: uppercase;
}

 .logo, .hero-img span {
    font-family: 'Montserrat', arial, sans-serif;
}

p {
    font-size: 80%;
    text-align: left;
    letter-spacing: 1px;
    line-height: 26px;
}

.p-after-h2 {
    font-size: 100%;
    margin-bottom: 30px;
}

/* ============= TOP-NAVIGATION ================= */

.top-nav {
    background-color: #fff;
    padding: 5px 0px;
    border-top: 2px solid #FA4659;
    overflow: hidden;
}

.logo {
    font-size: 150%;
    font-weight: 700;
    margin-top: 5px;
    color: #FA4659;
    letter-spacing: 1px;
}


.top-nav-links {
    list-style-type: none;
}

.top-nav-links li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 10px;
}
.top-nav-links a {
    text-decoration: none;
    font-size: 80%;
    color: #07617D;
    text-transform: uppercase;
    font-weight: 600;
}


/* ============= Header ================= */

.hero-img {
    /*background-image: linear-gradient(rgba(69,90,120,0.8),rgba(69,90,120,0.8)), url(../images/hero1.jpg);*/
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 575px;
    color: #fff;
    border-bottom-right-radius: 20px;
}




.hero-img span {
    font-size: 205%;
}

#hero-btn {
    display: block;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 100%;
    padding: 10px 25px;
    font-weight: 600;
}

#hero-btn:hover {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    }

    /* ============= About WeCode ================= */



#how-we-code i {
    font-size: 250%;
    display: block;
    color: #FA4659;
}


/* =================== A Tupical Day =================*/

#tupical-day {
    background-color: #003E54;
    color: #fff;
}

#tupical-day h2 {
    color: #fff;
}

#tupical-day .row:first-child {
    border-bottom: 1px solid #4CBED7;
}
.dark-background {
    color: #fff;
    text-transform: uppercase;
}

.schedule {
    border-right: 1px solid #4CBED7;
}

.morning, .afternoon {
    list-style-type: none;
    padding: 0 50px;
    margin-left: 40px;
}
.schedule li {
    font-size: 75%;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Quattrocento Sans', sans-serif;
    margin-bottom: 20px;
    position: relative;
    padding-left: 10px;
}


 #tupical-day .row :nth-child(4){
    border-right: none;
}

/* AM/PM implementation */
.morning span, .afternoon span {
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    left: -60px;
    top: 8px;
}


.morning span {
    color: #FA4659;
}


.afternoon span {
    color: #FA4659;
}

.morning span:after, .afternoon span:after {
    font-size: 50%;
    position: relative;
    top: -10px;
    font-weight: bold;
}

.morning span:after {
    content: "am";
}

.afternoon span:after {
    content: "pm"
}

.morning li:nth-child(3) span:after,
.afternoon li:nth-child(3) span:after {
    content: "30";
}


/* Surrent sections bottom text */
#tupical-day h4 {
    padding-top: 25px;
    font-size: 100%;
    position: relative;
    letter-spacing: 1px;
}

#tupical-day h4 span {
    color: #FA4659;
    position: absolute;
    left: -30px;
    font-size: 175%;
    top: 20px;
}

#tupical-day h4 span:after {
    content: "PM";
    font-size: 50%;
    font-weight: bold;
    position: relative;
    top: -10px;
}
