
/* ============ // Medium devices (tablets, 768px and up) ========== */
@media only screen and (max-width: 979px){

    /* General */
    * { font-size: 18px; }

    h1 {
        padding-top: 220px;
    }

    h2:after { margin: 15px auto; }

    .p-after-h2 { margin-top: -20px; }

    /* Tupical day section */

    .tupical-day h4 { padding-left: 20px; }

    /* Admissions */

    .admissions .col-sm-6 { margin-bottom: 15px; }

    /* Footer */
    .footer .logo { padding-top: 5px; }

}

/* =================== // Small devices (landscape phones, 544px and up) =============== */
@media only screen and (max-width: 767px){

    /* Navigation */
    .top-nav-links li {
        margin-left: 0px;
        display: block;
    }

    .top-nav-links {
        display: none;
        /*margin-top: 40px;
        float: none !important;*/
    }

    .top-nav-links a:hover {
        border-bottom: 2px solid transparent;
    }

    .sticky {
        padding-left: 25px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mobile-nav-icon {
        display: block;
    }
    /* Header */

    #typing_text { font-size: 150%; }

    /* Tupical day */
    .tupical-day .row > :nth-child(3){
       border: none;
   }

   .tupical-day .row:first-child { border: none; }

   .tupical-day h4 {border-top: 1px solid #fff;}

   /* Admissions */

   .admissions .col-xs-12 { margin-bottom: 15px; }

   a.apply-button {margin-top: 10px;}

    /* footer */

    .footer { text-align: center; }
}


@media only screen and (max-width : 480px;) {

       .media--row { padding: 0px; }
}
