
/* ============ // Medium devices (tablets, 768px and up) ========== */
@media only screen and (max-width: 979px){

    /* General */

    * { font-size: 18px; }

    h2:after { margin: 15px auto; }

    .p-after-h2 { margin-top: -20px; }

    /* Tupical day section */

    .tupical-day h4 { padding-left: 20px; }

    /* Admissions */

    .admissions .col-sm-6 { margin-bottom: 15px; }

    /* Footer */
    .footer .logo { padding-top: 5px; }

}

/* =================== // Small devices (landscape phones, 544px and up) =============== */
@media only screen and (max-width: 767px){

    /* Navigation */

    .js--top-nav-links { display: none; }

    /* Header */

    h1 { padding-top: 190px; font-weight: 400;}

    #typing_text { font-size: 150%; }

    /* Tupical day */
    .tupical-day .row > :nth-child(3){
       border: none;
   }

   .tupical-day .row:first-child { border: none; }

   .tupical-day h4 {border-top: 1px solid #fff;}

   /* Admissions */

   .admissions .col-xs-12 { margin-bottom: 15px; }

   .media--row { padding: 20px; }

   a.apply-button {margin-top: 10px;}

    /* footer */

    .footer { text-align: center; }
}
